.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        position: absolute;

        // Số nào cũng đc, miễn là lúc hover ảnh nào thì số lớn hơn số này sẽ hiện lên trc
        z-index: 10;

        transition: all 0.2s;
        outline-offset: 1rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            transform: scale(1.1) translateY(-0.5rem);
            // làm đậm lên thêm xíu
            box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
            // same as border but it is more advanced with outline-offset   
            outline: 1.5rem solid $color-primary;

            z-index: 20;
        }
    }

    // coi note "ABOUT SECTION"
    &:hover &__photo:not(:hover) {
        transform: scale(0.9);
    }
}