*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    /*Root font-size, read note on Udemy*/
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

    // First approach responsive-website
    // @include respond(phone) {
    //     font-size: 50%;
    // }
    @include respond(tab-land) { // width < 1200px
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
    }

    /*phone va tab-port fontsize giong nen bo qua*/
    @include respond(tab-port) { // width < 900px
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px, 12/16 = 75%
    }
}

body {
    //This one not exactly typography so lets keep it here
    box-sizing: border-box;
}