body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #777;
    line-height: 1.7;
    padding: 3rem;

    box-sizing: border-box;
}

.heading-primary {
    /* background-color: red; */
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 5rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
    
        animation: moveInRight 1s ease-out;
    }
}